.transition { transition: all .1s ease; }

.clearfix {
	&:after {
  		content: "";
  		display: table;
  		clear: both;
	}
}

// field structure
.field {
	position: relative;
	display: inline-block;
	float: left;
	
	.helptext {
		font-size: 14px;
		color: #888;
		font-style: italic;
		margin: 0;
		padding: 10px;
	}
	
	&--quarter { width: 25%; }
	
	&--half {
		width: 50%;
	
		//&:nth-of-type(even) { margin-left: -1px; }
		//&:nth-of-type(n+3) { margin-top: -1px; }
		&.form-action {
			border-top-color: transparent;
			padding-top: 10px;
		}
	}
	
	&--three-quarter { width: 75%; }
	
	&--block {
		width: 100%;
		//&:nth-of-type(n+2) { margin-top: -1px; }	
		&.form-action {
			padding-top: 15px;
			margin-top: 15px;
			border-top: 1px solid #9CD3A3;

		}
	}
	
	&__label {
		@extend .transition !optional;
		position: absolute;
		top: 5px; left: 10px;
		font-size: 13px;
		color: #888;
	}
	&__input {		
		@extend .transition !optional;
		padding: 25px 10px 10px;
		width: 100%;
		background-color: #f2f2f2;
		font-size: 16px;
	}
			
	// .btn {
	// 	float: right;
	// 	background-color: #4CAF58;
	// 	font-size: 11px;
	// 	padding: 1em 2em;
	// 	margin: 0;
    // }
    
    .btn:hover {
        border-color: aliceblue;
        background: #cf455c !important;
        color: aliceblue;
    }

    .btn:active {
        background: #4b020e;
        color: white;
        border-color: #cf455c;
    }
}

// input styles
.input {
	outline: 0;
	border: 1px solid #ccc;
	
	// general focus state
	&:focus {
		background-color: white;
		border-color: #cf455c;
		//box-shadow: inset 0 0 0 2px #E3EACC;
		
		~ label {
			color: #cf455c;
		}
	}
	
	&--text {	}
	&--textarea {
		max-width: 100%;
		height: 100px;
		max-height: 100px;
	}
	&--select {
		padding-right: 20px;
	}
	&--checkbox {}
	&--radio {}
	&--disabled {}	
}

// specific label styles
.label {
	&--required {
		&:after {
			content:"*";
			color: #cf455c;
			margin-left: 5px;
		}
	}
}