@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
/* @import url('https://fonts.googleapis.com/css?family=Telex'); */

:root {
	/* Colors */
	--color-background: #f4f6f6;
	--color-foreground: #21284a;
	/* --color-dark: #333; */
	--color-dark: #259992;
	--color-light: #fff;
	--color-md-light: rgb(172, 172, 172);
	--color-md-dark: rgb(78, 77, 77);
	--color-primary: #007bff;
	--color-info: #cf455c;
	--color-success: #4CAF58;
	--color-danger: #cd3f3e;
	--color-callout: #f7be16;
	--default-nav-bg: #31353d;

	/* Font Styles */
	--font-size: 16px;
	--font-line-height: 1;
	/* Font Stacks */
	--font-stack: 'Nunito', sans-serif;
	--font-stack-code: Courier;
	
	/* Layout */
	--vertical-space: 1rem;
}
			
