.container {
	width: 90%;
	margin: auto;
}

section {
	border: 2px solid #aaa;
	padding: 1em;
	margin-bottom: 1em;
	border-radius: 5px;
	box-shadow: 0 10px 12px rgba(0, 0, 0, 0.35);
}

.color-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 2em;
}

.color-grid > div {
	height: 100px;
	border: 1px solid #999;
	display: flex;
	justify-content: center;
	align-content: center;
}

.color-grid > div:nth-child(1) {
	background-color: var(--color-background);
}

.color-grid > div:nth-child(2) {
	background-color: var(--color-foreground);
	color: var(--color-background);
}

.color-grid > div:nth-child(3) {
	background-color: var(--color-dark);
	color: var(--color-background);
}

.color-grid > div:nth-child(4) {
	background-color: var(--color-light);
}

.color-grid > div:nth-child(5) {
	background-color: var(--color-md-light);
}

.color-grid > div:nth-child(6) {
	background-color: var(--color-md-dark);
	color: var(--color-background);
}

.color-grid > div:nth-child(7) {
	background-color: var(--color-primary);
	color: var(--color-background);
}

.color-grid > div:nth-child(8) {
	background-color: var(--color-info);
	color: var(--color-background);
}

.color-grid > div:nth-child(9) {
	background-color: var(--color-success);
	color: var(--color-background);
}

.color-grid > div:nth-child(10) {
	background-color: var(--color-danger);
	color: var(--color-background);
}
	
.color-grid > div:nth-child(11) {
	background-color: var(--color-callout);
	color: var(--color-background);
}

.color-box {
	border-radius: 5px;
	align-items: center;
}

.button-types {
	display: flex;
	flex-direction: row;
	justify-content: space-between
}

#custom-components {
	border-collapse: collapse;
  	width: 100%;
}

#custom-components td, #custom-components th {
	border: 1px solid #ddd;
	padding: 8px;
}

#custom-components tr:nth-child(even){background-color: #f2f2f2;}

#custom-components tr:hover {background-color: #ddd;}

#custom-components th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: var(--color-info);
	color: white;
  }
